table.default {
  width: 100%;
  border-style: hidden;
  border-collapse: collapse;
  background: #fff;
  font-size: 1.1em;
  $side_padding: .3em;
  thead {
    th {
      vertical-align: bottom;
      padding: .3em $side_padding;
      border-bottom: 1px solid $gray_border;
      text-align: left;
      font-size: .9em;
      font-weight: normal;
      color: #848484;
      line-height: 1.2em;
      &.center {
        text-align: center;
      }
    }
  }
  td {
    border-bottom: 1px solid $gray_border;
    padding: .7em $side_padding;
    vertical-align: middle;
  }
}

table.clickable {
  tbody {
    tr:hover {
      cursor: pointer;
      td {
        background-color: #f6f6f6;
      }
    }
  }
}
