<div class="view-volume-screen" ng-controller="viewVolumeController" show-notify>

    <div class="page-vertical-spacer"></div>

    <div class="modal-header">
        <span translate>volumes.view.l_volume_details</span>
        <div class="pull-right flex">
            <button class="btn btn-primary skinny edit-volume-button" style="display: inline-block;margin-right: 8px;" ng-click="edit()">
                <span translate>volumes.l_edit_volume</span>
            </button>
        </div>
    </div>

    <section class="block-section">
        <div class="section-header">
            <span class="sub-header" translate>volumes.l_volume_name</span>
        </div>
        
        <div class="main-value volume-name">{{thisVolume.name}}</div>
    </section>
    
    <!-- The capacity charting -->
    <section class="block-section">
        
        <div class="flex" style="width: 100%;height: 200px;">
        
            <div style="flex-grow: 5;">
                <status-tile tile-title="{{ 'status.l_capacity' | translate }}" calculated-data="capacityItems" row-display="true">
                    <line-chart data="capacityStats" colors="capacityColors" y-axis-label-function="capacityLabelFx" axis-color="#A0A0A0" line-stipples="capacityLineStipples" line-colors="capacityLineColors" tooltip="setCapacityTooltipText" background-color="#f7f7f7" domain-labels="capacityTimeChoice.labels"></line-chart>
                </status-tile>
            </div>
            
            <div class="gutter">
                <div>
                    <fui-dropdown selected="capacityTimeChoice" items="timeRanges" background="none" color="black" name-property="displayName" width="150px" border="gray" skinny="true"></fui-dropdown>
                </div>
                
                <div class="bottom-stack">
                    <div class="flex">
                        <div class="legend-box dotted" ng-style="{ 'border-color': capacityLineColors[0], 'background-color': capacityColors[0] }"></div>
                        <div class="legend-data">{{ logicalLabel }}</div>
                    </div>
                    <!--<div class="flex">
                        <div class="legend-box" ng-style="{ 'border-color': capacityLineColors[1], 'background-color': capacityColors[1] }"></div>
                        <div class="legend-data">{{ physicalLabel }}</div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
    
    <!-- the IOPs chart -->
    <section class="block-section">
        
        <div class="flex" style="width: 100%;height: 200px;">
            <div style="flex-grow: 5;">
                <status-tile tile-title="{{ 'status.l_performance' | translate }}" calculated-data="performanceItems" row-display="true">
                    <stacked-line-chart data="performanceStats" colors="performanceColors" suffix="IOPs" axis-color="#A0A0A0" background-color="#f7f7f7" domain-labels="performanceTimeChoice.labels" line-colors="performanceLine" tooltip="setPerformanceTooltip"></stacked-line-chart>
                </status-tile>
            </div>
            <div class="gutter" style="position: relative;">
                <div>
                    <fui-dropdown selected="performanceTimeChoice" items="timeRanges" background="none" color="black" name-property="displayName" width="150px" border="gray" skinny="true"></fui-dropdown>
                </div>
                <div class="bottom-stack">
                    <div class="flex">
                        <div class="legend-box" ng-style="{ 'border-color': performanceColors[2], 'background-color': performanceColors[2] }"></div>
                        <div class="legend-data">{{ ssdGetLabel }}</div>
                    </div>
                    <div class="flex">
                        <div class="legend-box" ng-style="{ 'border-color': performanceColors[1], 'background-color': performanceColors[1] }"></div>
                        <div class="legend-data">{{ getLabel }}</div>
                    </div>
                    <div class="flex">
                        <div class="legend-box" ng-style="{ 'border-color': performanceColors[0], 'background-color': performanceColors[0] }"></div>
                        <div class="legend-data">{{ putLabel }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="block-section">
        <div class="flex">
            <div class="padded-right">
                <div class="sub-header" translate>volumes.qos.l_overall_setting</div>
                <div class="qos-preset">{{ mediaPreset }}</div>
            </div>
            <div class="padded-right">
                <div class="sub-header" translate>volumes.qos.l_priority</div>
                <div class="priority"> {{ qos.priority }}</div>
            </div>
            <div class="padded-right">
                <div class="sub-header" translate>volumes.qos.l_iops_guarantee</div>
                <div class="sla">{{ getSlaLabel() }}</div>
            </div>
            <div class="padded-right">
                <div class="sub-header" translate>volumes.qos.l_iops_limit</div>
                <div class="limit">{{ getLimitLabel() }}</div>
            </div>
            <div class="padded-right">
                <div class="sub-header" translate>volumes.tiering.l_tiering_policy</div>
                <div class="media-policy">{{ mediaPolicy.label }}</div>
            </div>            
        </div>
    </section>
    
    <section class="block-section">
        <div class="sub-header" translate>status.l_firebreak</div>
        <status-timeline ng-model="firebreakModel" domain="firebreakDomain" range="firebreakRange" date-range="lastTwentyFour" divisions="24" icon-class="icon-firebreak" right-label="{{ 'common.l_now' | translate }}" left-label="{{ 'common.l_24_hours_ago' | translate }}" middle-label="12"></status-timeline>
    </section>
    
    <section class="block-section">
        <div class="sub-header" translate>volumes.l_timeline</div>
        <time-slider valid-ranges="ranges" ng-model="thisVolume.timelineTime" label="{{ 'volumes.l_point_timeline' | translate }}" label-function="dateLabelFunction" domain-labels="domainLabels"></time-slider>
    </section>
    
    <section class="block-section">
        <div class="flex">
            <div class="padded-right">
                <div class="sub-header" translate>volumes.qos.l_overall_setting</div>
                <div class="timeline-preset">{{ timelinePreset }}</div>
                <div class="intentionally-blank"> </div>
            </div>
            <div ng-repeat="desc in snapshotPolicyDescriptions" class="padded-right">
                <div class="sub-header">{{ desc.label }}</div>
                <div class="predicate">{{ desc.predicate }}</div>
                <div class="retention-value">{{ desc.value }}</div>
            </div>           
        </div>
    </section>
    
    <section class="block-section">
        <div class="sub-header" translate>volumes.l_data_connector</div>
        <div>
            <span>{{ getDataTypeLabel() }}</span>
            <span ng-show="thisVolume.settings.capacity" style="position: relative; left: -3px;">, {{ getAllocatedSize() }} {{ 'volumes.l_virtual_capacity' | translate }}</span>
        </div>
        <div ng-show="thisVolume.settings.target.initiators">
            <div  class="sub-header" translate>volumes.l_iscsi_initiators</div>
            <div class="flex">
                <div ng-repeat="initiator in thisVolume.settings.target.initiators">
                    <span>{{ initiator.wwn_mask }}</span>
                    <span ng-show="!$last" style="position: relative;left: -3px;">,&nbsp;</span>
                </div>
            </div>
        </div>
    </section>

    <div class="page-vertical-spacer view-volume-bottom-element" style="height: 100px;"></div>
    
</div>
