<div class="dialog-page" ng-controller="viewVolumeController" ng-class="{shown: $parent.viewing,hideit: !$parent.viewing}" show-notify ng-show="$parent.viewing">

    <div class="header clearfix">
        <a ng-click="back()" class="pull-left">&lt; Back to Volume list</a>
    </div>

    <div class="page-vertical-spacer"></div>

    <div class="modal-header">
        <span>{{$parent.selectedVolume.name}}</span>
    </div>

    <section class="form-section">
        <div>
            <span class="light-print">Snapshot policies</span>
        </div>

        <section class="summary-form-section">
            <div class="summary-row" style="color: black" ng-show="!editing">
                <div>
                    <span>Policy:</span>
                    <span class="value">{{summaryText}}</span>
                </div>

                <span class="icon fui-new" ng-click="editing = true"></span>
            </div>

            <div ng-show="editing">
                <div style="display: flex;color: black;margin-bottom: 4px;" ng-repeat="policy in policies">
                    <tri-state-check check-state="policy.use" style="margin-top: 6px;margin-right: 4px;"></tri-state-check>
                    <span style="width: 100px;">{{policy.name}}</span>
                    <span style="padding-right: 4px;">Keep for:</span>
                    <spinner class="skinny" style="margin-right: 4px;" min="1" max="9999" value="policy.value"></spinner>
                    <fui-dropdown skinny="true" items="timeChoices" selected="policy.units"></fui-dropdown>
                </div>

                <div>
                    <button class="btn btn-primary" ng-click="doneEditing()">Done</button>
                </div>
            </div>
        </section>
    </section>

    <div class="page-vertical-spacer"></div>

    <section class="form-section">
        <div>
            <span class="light-print">Snapshots</span>
        </div>

        <table class="default">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Expiration</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="snapshot in snapshots">
                    <td>{{formatDate( snapshot.creation );}}</td>
                    <td>{{snapshot.expiration}}</td>
                    <td>
                        <span class="fui-exit icon" title="Clone to new volume" ng-click="clone( snapshot )"></span>
                        <span class="fui-cross icon" title="Delete"></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

</div>
