.health-tile {
    
    .item {
        padding: 4px;
    }
    
    .health-indicator {
        font-size: 36px;
    }
    
    .health-text {
        margin-left: auto;
        margin-right: auto;
        flex-grow: 5;
        color: gray;
        line-height: 1.2;
        padding-left: 12px;
        width: 100%;
    }
}