$waterfall-slider-row-height: 38px;

.waterfall-slider {

    width: 100%;
    padding-top: 38px;
    @include no-select();
    position: relative;
    @include display-flex();
    
    .waterfall-shade {
        position: absolute;
        width: 102%;
        height: 100%;
        margin: -8px;
        margin-top: -20px;
        background-color: rgba(255,255,255,0.4);
        z-index: 4;
    }
    
    .waterfall-legend {
        width: 100%;
        height: 10px;
        position: relative;
        
        .tick-mark {
            position: absolute;
            height: 10px;
            margin-left: 5px;
            border-left: 1px solid gray;
        }
        
        .thick-tick-mark {
            border-width: 3px;
            margin-left: 3px;
        }
    }
    
    .waterfall-labels {
        width: 100%;
        position: relative;
        
        .waterfall-label {
            font-size: 11px;
            color: gray;
            position: absolute;
        }
    }
    
    .labels{
        padding-right: 8px;
    }
    
    .slider-name {
        color: black;
        height: $waterfall-slider-row-height;
    }
    
    .slider-pane {
    
        width: 100%;
        
        &:active {
            cursor: ew-resize;
        }
        
        .slider {

            width: 100%;
            position: relative;
            height: $waterfall-slider-row-height;
            padding-left: 5px;

            .bar {
                width: 100%;
                height: 10px;
                position: absolute;
                top: 8px;
                background-color: #ECF6FD;
            }
            
            .fill-bar {
                position: absolute;
                top: 10px;
                height: 10px;
                background-image: url('../images/Blue-dot.svg');
                background-size: 10px 6px;
                background-repeat: repeat-x;
                pointer-events: none;
                
                &.solid-fill {
                    background-image: none;
                    background-color: $button_primary;
                    top: 8px;
                }
            }

            .handle {
                color: black;
                height: 20px;
                width: 11px;
                border: 1px solid black;
                background-color: white;
                position: absolute;
                top: 4px;
                cursor: pointer;
                z-index: 2;
                
                &.grabbed {
                    background-color: $button_primary;
                }
            }
            
            .value-container {
                position: absolute;
                top: -14px;
                
                &.edit-box {
                    top: -64px;
                }
                
                &.stay-in-screen {
                    right: 0px;
                    left: auto !important;
                }                
            }
            
            .value-display {
                background-color: rgba( 0,0,0,0.6 );
                color: white;
                font-size: 10px;
                padding-right: 4px;
                padding-left: 4px;
                border-radius: 3px;
                cursor: default;
                
                @include property-transition( width, 2000ms, linear );
                
                .icon {
                    height: 100%;
                    margin: auto;
                    padding-left: 4px;
                    cursor: pointer;
                }
                
                &.edit-box {
                    padding: 4px;
                    background-color: #F6F6F6;
                    border: 1px solid $text_very_light_color;
                    color: $text_very_light_color;
                    font-size: 13px;
                }
            }
            
            .border-triangle {
                border-bottom: 0px;
                border-top: 6px solid $text_very_light_color;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                width: 0px;
                margin-left: 3px;
                position: absolute;
                bottom: -5px;
            }
            
            .triangle {
                border-bottom: 0px;
                border-top: 3px solid rgba( 0,0,0,0.6 );
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                width: 0px;
                margin-left: 4px;
                position: absolute;
                top: 1px;
                
                &.edit-box {
                    border-top-width: 5px;
                    border-left-width: 3px;
                    border-right-width: 3px;
                    margin-left: 4px;
                    top: -2px;
                    border-top-color: #F6F6F6;
                }
            }

            .trackline {
                top: 22px;
                width: 1px;
                border-left: 1px solid rgba(0,0,0,0.3);
                position: absolute;
                z-index: 1;
            }
        }
    }
}