<div class="dialog-page" ng-controller="addNodeController">
    
    <div class="modal-header">
        <span translate class="create-volume-create-title" ng-show="volumeVars.creating === true">system.l_nodes</span>
        <div class="pull-right flex">
            <button class="btn btn-primary skinny" style="display: inline-block;margin-right: 8px;" ng-click="addNodes()">
                <span translate>system.l_add_node</span>
            </button>
            <button class="btn btn-secondary cancel-creation skinny" style="display: inline-block;" ng-click="cancel()" translate>common.l_cancel</button>
        </div>
    </div>

    <table class="default clickable">
        <thead>
            <th></th>
            <th>Node Name</th>
            <th>Site</th>
            <th>Local Domain</th>
        </thead>
        <tbody>
            <tr class="no-border" ng-repeat-start="detachedNode in detachedNodes">
                <td width="32">
<!--                    <fui-checkbox checked="detachedNode.addall"></fui-checkbox>-->
                    <tri-state-check check-state="detachedNode.addAll" ng-click="parentStateChanged( detachedNode )"></tri-state-checkbox>
                </td>
                <td>
                    {{detachedNode.node_name}}
                </td>
                <td>
                    {{detachedNode.site}}
                </td>
                <td>
                    {{detachedNode.local_domain}}
                </td>
            </tr>
            <tr ng-repeat-end class="node-sub-services">
                <td colspan="4">
                    <div class="clear-fix">
                        <tri-state-check class="pull-left" check-state="detachedNode.am" ng-click="serviceStateChanged( detachedNode )"></tri-state-check>
                        <span>Access Manager</span>
                    </div>
                    <div class="clear-fix">
                        <tri-state-check class="pull-left" check-state="detachedNode.dm" ng-click="serviceStateChanged( detachedNode )"></tri-state-check>
                        <span>Data Manager</span>
                    </div>
                    <div class="clear-fix">
                        <tri-state-check class="pull-left" check-state="detachedNode.sm" ng-click="serviceStateChanged( detachedNode )"></tri-state-check>
                        <span>Storage Manager</span>
                    </div>
                </td>
            </tr>
            <tr class="disabled" ng-show="!detachedNodes.length || detachedNodes.length === 0">
                <td colspan="100%">
                    No detached nodes were discovered.
                </td>
            </tr>
        </tbody>
    </table>
</div>
