<div ng-controller="mainController" class="main">

    <div class="login" ng-show="!validAuth">

        <div class="login-container">
            <div class="logo"></div>
            <form>
<!--
                <div class="btn-group select">
                    <fui-dropdown selected="domain" default-label="Domain" items="domains"></fui-dropdown>
                </div>
-->

<!--
                <div class="form-group">
                    <input type="text" class="form-control" name="username" autofocus autocomplete="off" autocapitalize="off" ng-model="username" placeholder="Email"/>
                    <label class="login-field-icon fui-mail"></span>
                </div>
-->
                <fui-input name="username" placeholder="Email" ng-model="username" icon-class="fui-mail"></fui-input>
<!--
                <div class="form-group">
                    <input type="password" class="form-control" name="password" autocomplete="off" ng-model="password" placeholder="Password" ng-keyup="keyEntered( $event );">
                    <span class="input-icon fui-lock"></span>
                </div>
-->
                <fui-input name="password" placeholder="Password" type="password" ng-model="password" icon-class="fui-lock"></fui-input>
                <div class="checkbox-parent">
                    <fui-checkbox label="Remember me" checked="rememberChecked"></fui-checkbox>
                </div>

                <div class="form-actions">
                    <button id="login.submit" class="btn btn-primary" ng-click="login()">
                        Login
                    </button>
                </div>

                <div class="alert alert-info" ng-show="error">
                    {{ error }}
                </div>

                <div class="lost-password">
                    Lost your password?
                </div>

            </form>
        </div>
    </div>

    <div id="main.content" ng-show="validAuth" style="color: white;height: 100%;overflow: hidden;">

        <div class="header-parent">
            <div class="header-image">
            </div>
            <div style="float: right;display: flex;">
                <fui-dropdown id="main.usermenu" selected="loggedInUser" items="menuItems" default-label="loggedInUser" background="none" type="action" callback="itemSelected"></fui-dropdown>

            </div>
        </div>
        <div class="nav-container" style="position: relative;">
            <div id="wrap" class="main-container" ui-view>

            </div>
            <div class="nav-parent">
                <div>
                    <nav id="nav">
                        <ul>
                            <li ng-repeat="view in views">
                                <navitem id="main.{{view.id}}" label="{{view.text}}" icon-class="{{view.iconClass}}" selected="view.selected" ng-click="navigate( view );" notifications="view.notifications" ng-show="isAllowed( view.permission );"></navitem>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
