{% extends 'fds_config_defaults.j2' %}
{% block content %}
#
# Copyright (C) 2014, All Rights Reserved, by Formation Data Systems, Inc.
#

# The feature 'SNAPSHOT_ENDPOINT' is enabled.
SNAPSHOT_ENDPOINT = true

# The feature 'STATISTICS_ENDPOINT' is enabled.
STATISTICS_ENDPOINT = true

# The feature 'FIREBREAK' is enabled.
FIREBREAK = true

# The feature 'ACTIVITIES' is enabled.
ACTIVITIES_ENDPOINT = true

# The feature 'FIREBREAK_EVENT' is enabled.
FIREBREAK_EVENT = true

# The feature 'WEB_KIT' is enabled.
WEB_KIT = true

# The feature 'SNMP' is enabled.
SNMP = true
{% endblock %}
