{% extends 'fds_config_defaults.j2' %}
{% block content %}
#
# Copyright (C) 2014, All Rights Reserved, by Formation Data Systems, Inc.
#

# The feature 'SNAPSHOT_ENDPOINT' is enabled.
SNAPSHOT_ENDPOINT = true

# The feature 'STATISTICS_ENDPOINT' is enabled.
STATISTICS_ENDPOINT = true

# The feature 'FIREBREAK' is enabled.
FIREBREAK = true

# The feature 'ACTIVITIES' is enabled.
ACTIVITIES_ENDPOINT = true

# The feature 'FIREBREAK_EVENT' is enabled.
FIREBREAK_EVENT = true

# The feature 'WEB_KIT' is enabled.
WEB_KIT = true

# The feature 'SNMP' is enabled.
SNMP = true

# InfluxDB feature toggles.  Idea here is we will continue to
# persist to ObjectDB until we have fully implemented InfluxDB
# query support at which point we will enable the influxdb query
# toggle.  We can at any point disable persistence to ObjectDB.
# Once fully implemented and validated, we will remove
# ObjectDB support and these toggles.
PERSIST_OBJECTDB = true
PERSIST_INFLUXDB = true
QUERY_INFLUXDB = false

{% endblock %}
