{% extends 'fds_config_defaults.j2' %}
{% block content %}
#
# Copyright (C) 2014, All Rights Reserved, by Formation Data Systems, Inc.
#

# The feature 'WEB_KIT' is enabled.
WEB_KIT = {{fds_feature_web_tool_kit}}

# The feature 'SNMP' is enabled.
SNMP = {{fds_snmp_feature}}

# The feature for turning on the new REST URLs
REST_08 = {{fds_rest_08_feature}}

{% endblock %}
