{% extends 'fds_config_defaults.j2' %}
{% block content %}
#!/bin/sh -e

DEFAULT_FDS_ROOT={{ fds_root }}

FDS_DEPS=/opt/fds-deps/embedded
DEFAULT_JAVA_HOME=${FDS_DEPS}/jre

# set fds_root to the default if it is not set in the
# environment.
export fds_root=${fds_root:=${DEFAULT_FDS_ROOT}}

# if FDS_JAVA_HOME is set, use it . Otherwise
# default to the standard fds-deps install location.
# This can be used to override the default, most likely
# in a development environment.
FDS_JAVA_HOME=${FDS_JAVA_HOME:=${DEFAULT_JAVA_HOME}}
export FDS_JAVA_HOME

# LD_LIBRARY_PATH dependencies
# Note that Java libs not added - jvm handles
LD_LIBRARY_PATH=${fds_root}/lib
LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/fds-deps/embedded/lib
export LD_LIBRARY_PATH

PATH=/usr/local/sbin
PATH=${PATH}:${FDS_DEPS}/bin
PATH=${PATH}:/usr/local/bin
PATH=${PATH}:/usr/sbin
PATH=${PATH}:/usr/bin
PATH=${PATH}:/sbin
PATH=${PATH}:/bin
# add default java bin directory to path.  Scripts and platform
# use OM|XDI_JAVA_HOME vars in preference to relying on the path.
PATH=${PATH}:${FDS_JAVA_HOME}/bin
PATH=${PATH}:${fds_root}/bin
export PATH=${PATH}:${fds_root}/sbin

# JAVA Options
COMMON_JAVA_OPTS="{{ common_java_opts }}"
export OM_JAVA_OPTS="-Dfds.service.name=om-xdi {{ om_java_opts }} ${COMMON_JAVA_OPTS}"
export XDI_JAVA_OPTS="-Dfds.service.name=xdi {{ xdi_java_opts }} ${COMMON_JAVA_OPTS}"

# JAVA CLASSPATH dependencies
CLASSPATH=${fds_root}/etc
CLASSPATH=${CLASSPATH}:${fds_root}/etc/hadoop
CLASSPATH=${CLASSPATH}:${fds_root}/etc/ssl
CLASSPATH=${CLASSPATH}:${fds_root}/etc/ssl/dev
export CLASSPATH=${CLASSPATH}:${fds_root}/lib/java/\*

# JAVA Main executables
export OM_JAVA_HOME=${OM_JAVA_HOME:=${FDS_JAVA_HOME}}
export OM_MAIN_CLASS=com.formationds.om.Main

export XDI_JAVA_HOME=${XDI_JAVA_HOME:=${FDS_JAVA_HOME}}
export XDI_MAIN_CLASS=com.formationds.am.Main

# are we running on an OM host?
{% if fds_om_host == inventory_hostname %}
export OM_ENABLED=true
{% else %}
export OM_ENABLED=false
{% endif %}
{% endblock %}
