{% extends 'fds_config_defaults.j2' %}
{% block content %}
fds:
{
    plat: {
        /* process id */
        id = "auto"

        /* Log file */
        logfile = "pltform"

        /* Log severity */
        log_severity = "trace"

        /* Control path port */
        control_port = 7000

        /* Orchestration manager ip */
        om_ip = "{{ om_ip }}"

        /* Orchestration manager port */
        om_port = 8904

        /* Vy: hacking for now, must be control_port + 4. */
        /* We need to consolidate all the ports to minimize their settings. */
        om_svc_port = 7004

        /* Don't spawn any service daemon */
        auto_start_services = true

        /* Graphite is enabled or not */
        enable_graphite = {{ metrics_enabled }}
        graphite: {
            /* Graphite server ip */
            ip = "{{ metricsdb_ip }}"
            /* Graphite server port */
            port = 2003
        }
        threadpool: {
            max_task    = 10
            spawn_thres = 5
            idle_sec    = 3
            min_thread  = 8
            max_thread  = 10
        }
    }
    om:
    {
        id="om"
        prefix=""
        log_severity = "trace"
        logfile="om"
        config_port=9090
        control_port=8904
        ip_address="{{ om_ip }}"
        enable_graphite = {{ metrics_enabled }}
        token_factor=8
        replica_factor=4
        placement_algo="ConsistHash"
        authentication=false
        web_dir="../lib/admin-webapp/"
        admin_webapp_port=7777

        configdb : {
        port=6379
        }
        test_mode=false
        #threadpool:
        #{
        #   size=100
        #   size_max=200
        #}
    }
}
{% endblock %}
