{% extends 'fds_config_defaults.j2' %}
{% block content %}
fds: {
    /* Network interface that all fds nodes should have */
    nic_if="{{ default_nic }}"

    /* Use genkey to generate a new one */
    aes_key="005ecbcf2a3ddf8fc634a43b8adb44cc"

    authentication={{ authentication }}

    ssl: {
        /* path relative to fds_root */
        keystore_path="etc/ssl/dev/keystore"
        keystore_password="exotic sparrow"
        keymanager_password="exotic sparrow"
    }

    disable_qos = false

    /* Feature toggles, use "common:" for features that propogate across components */
    feature_toggle: {
        common: {
            enable_timeline = {{ ft_enable_timeline }}
            periodic_expunge = {{ ft_periodic_expunge }}
            enable_multi_om_support = {{ ft_common_enable_multi_om_support }}
            enable_subscriptions = {{ ft_common_enable_subscriptions }}
            all_ssd = {{ all_ssd_support }}
            volume_open_support = {{ ft_common_enable_volume_open_support }}

    	    /* Volume grouping allows IO to volumes to driven by a coordinator at AM */
    	    enable_volumegrouping = {{ ft_enable_volumegroup }}

    	    /* applies to OM and XDI web toolkit */
            enable_web_logging_request_wrapper = {{ ft_enable_web_logging_request_wrapper }}
        }
        pm: {

            use_disk_hints = {{ ft_platform_use_disk_hints }}
            control_disk_simulation_mode = {{ ft_platform_control_disk_simulation_mode }}
            use_new_superblock = {{ ft_platform_use_new_superblock }}
            restart_failed_children_processes = {{ ft_restart_failed_children_processes }}
            enable_disk_activation = {{ ft_enable_disk_activation }}
        }
        dm: {

        }
        sm: {

        }
        am: {
            scst_connector = {{ ft_am_scst_enabled }}
            nbd_connector = {{ ft_am_nbd_enabled }}
            serialization = "{{ am_req_serialization }}"
            all_atomic_ops = {{ am_all_atomic_ops }}
        }
        om: {
           allow_service_reregistration = {{ ft_allow_service_reregistration }}
           enable_java_om_svc_proxy = {{ ft_enable_java_om_svc_proxy }}
           rest_07_feature = {{ ft_fds_rest_07_feature }}
           fs_2660_metric_firebreak_event_query = {{ ft_fs_2660_metric_firebreak_event_query }}
           enable_influxdb_write_batch = {{ ft_enable_influxdb_write_batch }}
           enable_influxdb_chunked_query_response = {{ ft_enable_influxdb_chunked_query_response }}
           ignore_failed_svcs = {{ ft_ignore_failed_svcs }}
	}
    }

    /* Use this section for settings that are shared (or needed) by most or all processes */
    common: {

{# This block should be reinstated when FS-1697 is resolved ...
{% if om_ip_count != empty_om_list %}
{% set hosts = groups[group_names[0]] %}
{% for i in range(om_ip_count|int) %}
{% if loop.first %}        om_ip_list = "{% endif %}{{ hosts[i] }}{% if not loop.last %}:{% endif %}
{% endfor %}"
{% else %}
         om_ip_list = "{{ empty_om_list }}"
{% endif %}
#}
        om_ip_list = "{{ om_ip }}"
        om_port = 7004
        om_uuid = 1028

       {# TODO: FDSCONFIG Make it so that services search for configs in common
           as well as in their own config block. A uniform order of precedence
           for all values and all services would be preferred #}

       {#graphite: {
            /* Graphite server ip */
            ip = "{{ metricsdb_ip }}"
            /* Graphite server port */
            port = 2003
            period = 5
        } #}

        /* Options when running under valgrind */
        valgrind: {
           enabled = {{ ft_common_enable_valgrind }}
           app_name = "valgrind"
           /* All paths relative to fds_root */
           base_dir = "memcheck/"
           common_options = "--show-reachable=no,--show-possibly-lost=no,--gen-suppressions=all,--tool=memcheck,--leak-check=yes,--num-callers=30,--xml=yes,-v"
           process_specific: {
                bare_am =    "--soname-synonyms=somalloc=*tcmalloc*"
                StorMgr =    "--soname-synonyms=somalloc=*tcmalloc*"
	   }
	   suppressions: {
                suppressions_option = "--suppressions="
                suppressions_suffix  = ".supp"
	   }
	   output: {
                results_option = "--xml-file="
                results_suffix = ".%p.memcheck"
	   }
        }

        /* volume grouping options */
        volume_group: {
            /* If volume grouping mode is on, calculate 1 DMT version once # of DMs have matched */
            dm_cluster_size = 4
        }
    }

    pm: {
        /* process id */
        id = "pm"

        /* Log file */
        logfile = "pm"

        /* Log severity */
        log_severity = "{{ pm_log_severity }}"

        /* Platform uuid.  From this base uuid other service runnig on this node detrive their uuids */
        platform_uuid = 1024

        /* Platform port.  This is the node base port.  All services running on this node derive their port based on this port */
        platform_port = 7000

        redis_host = "{{ om_ip }}"
        redis_port = {{ redis_port }}

        service_management: {
            /* If a service restarts flap_count times in flap_timeout seconds, PM will stop restarting the service and notify the OM */
            flap_count   = 5
            flap_timeout = 300  /* in seconds */
        }

        /* Force disk simulation_mode (enable Feature Toggle first) */
        /* true=simuation mode, false=auto detection */
        force_disk_simulation = {{ force_disk_simulation }}

        disk_sim: {
            ssd_count = 2
            hdd_count = 10
        }

        capabilities: {
            disk: {
                ssd: {
                    iops_min = 5000
                    iops_max = 10000
                }
                hdd: {
                    iops_min = 500
                    iops_max = 1000
                }
                /* GC..etc disk reservation */
                # reserved_space = 0.20
                reserved_space = 0.00
            }
        }

        threadpool: {
            num_threads = 10

            /* Use lock free threadpool  */
            use_lftp = true
        }

        /* Internal testing related info */
        testing: {
            standalone = false
            /* overwrite node capabilities from this config */
            manual_nodecap = true
            node_iops_max  = 100000
            node_iops_min  = 60000
        }

        /* Service layer stanza */
        svc: {
            lftp: {
                /* Enable lockfree threadpool optimizations or not */
                enable = {{ svc_plat_lftp_enable }}
                io_thread_cnt = 2
                worker_thread_cnt = 2
            }

            timeout: {
                thrift_message = {{ svc_plat_thrift_message_timeout }}
            }
        }

        /* Graphite is enabled or not */
        enable_graphite = {{ metrics_enabled }}

        graphite: {
            /* Graphite server ip */
            ip = "{{ metricsdb_ip }}"
            /* Graphite server port */
            port = 2003
            period = 5
        }
    }

    dm: {
        svc: {
            lftp: {
                /* Enable lockfree threadpool optimizations or not */
                enable = {{ svc_plat_lftp_enable }}
                io_thread_cnt = 2
                worker_thread_cnt = 2
            }
            timeout: {
                thrift_message = {{ svc_plat_thrift_message_timeout }}
            }
        }
        perf: { enable = {{ perf_tracing }} }

        qos: {
            /* Default qos threads */
            default_qos_threads = 10
            /* default max number of outstanding IO below qos control */
            default_outstanding_io = 20
        }

        catalog_write_buffer_size = {{ dm_catalog_write_buffer_size }}
        catalog_cache_size =  {{ dm_catalog_cache_size  }}
        catalog_log_max_files = 5
        number_of_primary = 2
        req_serialization = {{ dm_req_serialization }}
        realtime_stats_sampling = {{ dm_realtime_stats_sampling }}

        /* process id */
        id      = "dm"
        no_om   = false;

        /* Log file */
        logfile = "dm"

        /* Log severity */
        log_severity = "{{ dm_log_severity }}"

            /* Lease time (seconds) for volume access tokens */
            token_lease_time=60

        cache: {
           /* Default max entries in a volume's DM catalog cache */
           default_max_entries = 200
        }

        migration: {
            /* Rsync username to use during migration */
            rsync_username = "root"
            /* Rsync password to use during migration */
            rsync_password = "passwd"

            /* boolean to enable/disable DM migration feature */
            enable_feature = {{ dm_enable_migration }}

            /* boolean to enable/disable DM resync feature */
            enable_resync = {{ dm_enable_resync }}

            /* timeout duration in sec */
            migration_timeout= {{ dm_migration_timeout }}

            /* Maximum concurrent migrations */
            migration_max_concurrency = {{ dm_migration_max_concurrency }}

            /* Maximum number of blobs in delta set */
            migration_max_delta_blobs = {{ dm_migration_max_delta_blobs }}

            /* Timeout value (millisecs) for interval between receiving delta blob/blobsdesc msgs (should be less than migration_timeout) */
            migration_max_delta_blobs_to = {{ dm_migration_max_delta_blobs_to }}

            /* Maximum number of blob desc in delta set */
            migration_max_delta_blob_desc = {{ dm_migration_max_delta_blob_desc }}
        }

        /* Graphite is enabled or not */
        enable_graphite = {{ metrics_enabled }}

        graphite: {
            /* Graphite server ip */
            ip = "{{ metricsdb_ip }}"
            /* Graphite server port */
            port = 2003
            period = 5
        }

        threadpool: {
            num_threads = 10

            /* Use lock free threadpool  */
            use_lftp = true
        }

        upload_to_cloud = false

        /* Internal testing related info */
        testing: {
            standalone = false

            /* Forces all DM APIs to immediately return success */
            uturn_all = false

            /* Forces catalog update calls to immediately return success */
            uturn_updatecat = false

            /* Forces start tx calls to immediately return success */
            uturn_starttx = false

            /* Forces set metadata calls to immediately return success */
            uturn_setmeta = false

            /* For testing firebreak on shorter timescale */
            test_firebreak = false
            coarseslot_sec = 300
            coarse_slots = 6
            longslot_sec = 900
            long_slots = 6

            /* Delay the start the of the DM x seconds for testing migration injections */
            test_delay_start = 0
        }
    }

    sm: {
        svc: {
            lftp: {
                /* Enable lockfree threadpool optimizations or not */
                enable = {{ svc_plat_lftp_enable }}
                io_thread_cnt = 2
                worker_thread_cnt = 2
            }
            timeout: {
                thrift_message = {{ svc_plat_thrift_message_timeout }}
            }
        }
        perf: { enable = {{ perf_tracing }} }

        /* process id */
        id      = "sm"
        prefix  = ""

        /* Log file */
        logfile="sm"

        /* Log severity */
        log_severity = "{{ sm_log_severity }}"

        /* verify data on datapath */
        data_verify = {{ sm_data_verify }}
        /* verify data in background */
        data_verify_background = {{ sm_data_verify_background }}

	/* Toggle for serializing requests for consistency */
        req_serialization = {{ sm_req_serialization }}
        /* Number of primary SMs; 0 means pre-consistency implementation */
        number_of_primary = 2

        /* daemonize or not */
        daemonize=true

        objectstore: {
            /* Size of the hashed task synchronizer */
            synchronizer_size = 100
            faults: {
                fail_writes = 0.0
            }
        }
        cache: {
            /* Default max number of data cache entries */
            default_data_entries = {{ sm_cache_default_data_entries }}
            /* Default max number of metadata entries */
            default_meta_entries = 0;
        }

        qos: {
            /* Default qos threads */
            default_qos_threads = 10
            /* default max number of outstanding IO below qos control */
            default_outstanding_io = 20
        }

        /* Running in test mode */
        test_mode=false
        /* Internal testing related info */
        testing: {

            /* enable simulated latency with its timueout value */
            enable_mocking = false
            mocktimeout = 500
            /* enable if testing SM standalone, no dependency on platform and OM */
            standalone = false

            /* this is temporary until we fix platform, we don't want simulated SSDs */
            useSsdForMeta = false

           /* Use sync metadata write if true */
            syncMetaWrite = {{ sm_sync_meta_write }}

            /* General testing mode...should depricate */
            test_mode = false

            /* Number of volumes to create in test mode.  Valid when test_mode is true */
            test_volume_cnt=10

            /* Forces all SM APIs to immediately return success */
            uturn_all = false

            /* Forces put object calls to immediately return success */
            uturn_putobj = false

            /* if test_tier is enable, rank engine will be configured from the config below */
            test_tier = false
            /* number of objects in rank table (~ssd size) */
            rank_tbl_size = 1000
            /* how often re-ranking is done */
            rank_freq_sec = 300
            /* approx number of times an obj has to be accessed to become hot */
            hot_threshold = 3
            /* approx number of times an obj has to be accessed to become cold */
            cold_threshold = 0
            /* enable sleep from SM service registers with OM */
            enable_sleep_before_migration = false
            /* the duration of sleep(secs) before SM registers itself with OM */
            sleep_duration_before_migration = 150
        }
        threadpool: {
            num_threads = 10

            /* Use lock free threadpool  */
            use_lftp = true
        }
        /* Migration related info */
        migration: {
            /* size of the delta set from source SM to destination SM */
            max_delta_set_size = {{ sm_max_delta_set_size }}

            /* verify the integrity of the metadata and data  on destination SM */
            verify_migration_data = {{ sm_verify_migration_data }}

            /* boolean to enable/disable SM token migration feature */
            enable_feature = {{ sm_enable_feature }}

            /* boolean to enable/disable SM resync feature */
            enable_resync = {{ sm_enable_resync }}

            /* timeout duration in sec */
            migration_timeout = {{ sm_migration_timeout }}

            /* number of parallel sm migrations at a time */
            parallel_migration = {{ sm_parallel_migration }}
        }
        tiering: {
            hybrid: {
                enable                 = {{ sm_tiering_hybrid_enable }}
                /* Number of objects to move at a time */
                batchSz         = {{ sm_tiering_hybrid_batchsz }}
                /* In seconds to make testing easier (default 172800s = 2days) */
                frequency         = {{ sm_tiering_hybrid_frequency }}
            }
        }
        /* Garbage Collection in SM */
        scavenger: {
             /* Maximum number of disks to compact at the same time */
             max_disks_compact = {{ sm_scavenger_max_disks_compact }}
             /* Time interval where GC periodically checks whether to GC or not */
             interval_seconds = {{ sm_scavenger_interval_seconds }}
             expunge_threshold = {{ sm_scavenger_expunge_threshold }}
        }

        /* Graphite is enabled or not */
        enable_graphite = {{ metrics_enabled }}

        graphite: {
            /* Graphite server ip */
            ip = "{{ metricsdb_ip }}"
            /* Graphite server port */
            port = 2003
            period = 5
        }

    }

    am: {
        svc: {
            lftp: {
                /* Enable lockfree threadpool optimizations or not */
                enable = {{ svc_plat_lftp_enable }}
                io_thread_cnt = 2
                worker_thread_cnt = 2
            }
            timeout: {
                io_message = {{ am_svc_io_message_timeout }}
                open_message = {{ am_svc_open_message_timeout }}
                thrift_message = {{ svc_plat_thrift_message_timeout }}
            }
        }
        perf: { enable = {{ perf_tracing }} }

        /* process id */
            id = "am"

        log_severity = "{{ am_log_severity }}"
        logfile      = "am"

        /* TODO(Rao): Get this from platform */
        om_config_port = 9090

        /* Graphite is enabled or not */
        enable_graphite = {{ metrics_enabled }}

        graphite: {
            /* Graphite server ip */
            ip = "{{ metricsdb_ip }}"
            /* Graphite server port */
            port = 2003
            period = 5
        }

        s3_http_port_offset=1000
        s3_https_port_offset=1443
        swift_port_offset=2999
        am_base_response_port_offset=2876
        xdi_service_port_offset=1899
        streaming_port_offset=1911
        memory_backend=false
        qos_threads=4

        /* Frequency (seconds) to notify DM we are using a volume */
        token_renewal_freq=30

        connector: {
            nbd: {
                server_port_offset=3809
		threads={{ am_nbd_server_threads}}
                options: {
                    /* Time (seconds) to retry connection to client before disconnect */
                    keep_alive=30
                    no_delay=true
                }
            }
            scst: {
		/* Smallest IO transfer size allowed */
                default_block_size={{ am_scst_default_block_size }}

                /* Targets will appear with this prefix on iscsi portals */
                target_prefix="{{ am_scst_target_prefix }}"

		/* Threads per target */
		threads={{ am_scst_target_threads }}
            }
        }

        threadpool: {
            num_threads = 10

            /* Use lock free threadpool  */
            use_lftp = true
        }
        cache: {
            /* Default max data size in MiB per volume */
            max_volume_data =  {{ am_cache_max_volume_data }}
            /* Default max entries in a volume's AM cache */
            max_metadata_entries =  {{ am_cache_max_metadata_entries }}
            /* Default max staged entries in a volume's tx descriptor */
            tx_max_staged_entries = 10
        }

        /* Internal testing related info */
        testing: {
            /* Toggle stand alone mode */
            standalone = false

            /* Toggle to disable stats collection for metadata streaming */
            toggleDisableStreamingStats = {{ am_testing_toggleDisableStreamingStats }}

            /* Forces all AM processor APIs to immediately return success */
            uturn_processor_all = false
            /* Forces all AM dispatcher APIs to immediately return success */
            uturn_dispatcher_all = false
            /* dipatchers timeout in us */
            uturn_dispatcher_timeout = 200
            /* Test mode to bypass local catalog cache */
            disable_vcc = true
            /* Forces all AM service APIs to immediately return success */
            uturn_amserv_all = false
            /* Forces AM service start transaction to immediately return success */
            uturn_amserv_starttx = false
            /* Forces AM service update blob to immediately return success */
            uturn_amserv_updateblob = false
            /* Forces AM service update metadata to immediately return success */
            uturn_amserv_updatemeta = false
            /* Forces AM service commit transaction to immediately return success */
            uturn_amserv_committx = false
            /* Forces AM service abort transaction to immediately return success */
            uturn_amserv_aborttx = false
            /* Forces AM service stat blob to immediately return success */
            uturn_amserv_statblob = false
            /* Forces AM service get blob to immediately return success */
            uturn_amserv_getblob = false
            /* Enables probe testing server */
            enable_probe = false
            /* Enable qos testing with probe, will use probe_outstanding_reqs per volume */
            probe_test_qos = false
            /* Number of threads for probe test */
            probe_num_threads = 10
            /* Number of max outanding requests */
            probe_outstanding_reqs = 500
            /* How long to sleep before checking the outstanding requests (periodically)*/
            probe_sleep_period = 500
            /* Enable printing of fine-grained QoS stats to var/stats/stats-data dir */
            print_qos_stats = false

            /* Fault injection toggles */
            fault: {
                /* Injects unreachable faults into service communication */
                unreachable = false
            }
        }
    }

    om:
    {
        /* Service layer stanza */
        svc: {
            lftp: {
                /* Enable lockfree threadpool optimizations or not */
                enable = {{ svc_plat_lftp_enable }}
                io_thread_cnt = 2
                worker_thread_cnt = 2
            }
            timeout: {
                thrift_message = {{ svc_plat_thrift_message_timeout }}
            }
        }
        svc_event_threshold: {
            timeout: {
                threshold = 10
            }
        }

        /* Testing stanza */
        testing: {
                /* Toggle stand alone mode */
                standalone = false
        }
        id="om"
        prefix=""
        log_severity = "{{ om_log_severity }}"
        logfile="om"
        config_port=9090
        config_cache_update_interval_ms=10000

        /* if om_enabled_java_om_svc_proxy feature toggle is enabled, then
           this property is used to determine the OM C++ Service port that is
           proxied from the primary OM service port.  This is considered an
           internal port to the OM and should not be accessed by any other
           service */
        java_svc_proxy_port_offset=1900

        xdi_response_port_offset=2988

        token_factor=8
        replica_factor=3
        placement_algo="ConsistHash"
        default_iops_min=0
        default_iops_max=0

        web_dir="../lib/admin-webapp/"
        http_port=7777
        https_port=7443
        configdb: {
            port={{ redis_port }}
        }

        influxdb: {
            url="{{ om_influxdb_url }}"
            enable_query_backtrace = false
            serialize_writes={{ om_influxdb_serialize_writes }}
            write_batch_size = {{ om_influxdb_write_batch_size }}
        }

        task_scheduler_pool: {
            min = {{ om_task_scheduler_pool_min }}
        }

        stats: {
            frequency={{ om_stats_frequency }}
            duration={{ om_stats_duration }}
            method="{{ om_stats_method }}"
        }

        test_mode=false
        threadpool: {
            num_threads = 10

            /* Use lock free threadpool  */
            use_lftp = true
        }

        snmp: {
            targetip = "{{ snmp_targetip }}"
            community = "{{ snmp_community }}"
        }
    }

    checker: {
        id = "checker"
        path = "/home/bao_pham/temp/skinet2"
        logfile = "checker"
        log_severity = "{{ checker_log_severity }}"

        /* Control path port */
        control_port = 6991

        enable_graphite = {{ metrics_enabled }}

        threadpool: {
            num_threads = 10
        }
    }

    xdi: {
        am_host = "{{ am_host }}"
    	nfs_thread_pool_size = {{ nfs_thread_pool_size }}
	nfs_stats = true
	nfs_defer_metatada_updates = {{ nfs_defer_metadata_updates }}
	nfs_max_live_nfs_cookies = {{ nfs_max_live_nfs_cookies }}
	am_timeout_seconds = {{ xdi_am_timeout_seconds }}
	am_retry_attempts = {{ xdi_am_retry_attempts }}
	am_retry_interval_seconds = {{ xdi_am_retry_interval_seconds }}
    }

    test: {
        testing: {
            /* Toggle stand alone mode */
            standalone = true
        }
    }
}
{% endblock %}
