{% extends 'fds_config_defaults.j2' %}
{% block content %}
# Redis configuration file

port 6379
dir /fds/var/redis
dbfilename dump.rdb
pidfile /fds/var/redis/run/redis-server.pid
loglevel verbose
logfile /fds/var/logs/redis/redis-server.log

# debug/verbose/notice/warning
databases 16
save 60 1
rdbcompression yes

daemonize yes
#bind 127.0.0.1
# Close the connection after a client is idle for N seconds (0 to disable)
timeout 0
appendonly yes
appendfilename appendonly.aof

# always/everysec/no
appendfsync always
no-appendfsync-on-rewrite no
{% endblock %}
