*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
*~
*.sw?
cscope.*
tags
core
*.orig
*.pyc
source/tools/cli.log
build.*
linux-*
.devsetup.chk
/source/tools/install/.pkg.cache
/source/include/net-proxies/iomsg.h
/source/net-proxies/*_clnt.c
/source/net-proxies/*_serv.c
/source/net-proxies/*_svc.c
/source/net-proxies/*_server.c
/source/net-proxies/*_xdr.c
/source/include/fdsp/*
/source/unit-test/fds-probe/s3-template/o.h
/source/unit-test/fds-probe/thrift/thrift-gen/*
source/unit-test/fds-probe/thrift/server/endpoint-test.P
source/unit-test/fds-probe/thrift/server/endpoint-test.cpp-chk
source/unit-test/fds-probe/thrift/server/ngx_modules.P
source/unit-test/fds-probe/thrift/server/ngx_modules.c-chk
source/unit-test/svc-layer/TestAMSvc.cpp
source/unit-test/svc-layer/TestAMSvc.h
source/unit-test/svc-layer/TestAMSvc_server.skeleton.cpp
source/unit-test/svc-layer/TestSMSvc.cpp
source/unit-test/svc-layer/TestSMSvc.h
source/unit-test/svc-layer/TestSMSvc_server.skeleton.cpp
source/unit-test/svc-layer/svc_constants.cpp
source/unit-test/svc-layer/svc_constants.h
source/unit-test/svc-layer/svc_types.cpp
source/unit-test/svc-layer/svc_types.h
/source/orch_mgr/java/gen-java/*
/source/orch_mgr/java/target/*
/source/java/target
/thrift-0.9.0/compiler/cpp/src/thrift*
/thrift-0.9.0/lib/py/thrift.egg-info/
/thrift-0.9.0/contrib/debian/debian
/thrift-0.9.0/tutorial/erl/client.sh
/source/java/gen-java
/source/include/xdi/*.h
/source/include/xdi/*.cpp
/source/include/apis/*.h
/source/include/apis/*.cpp
/source/tools/pharos/libposix-aio-0.8.1/*
/source/tools/pharos/*
/source/tools/results/*
*.cmd
*.ko
/source/stor_hvisor/.tmp_versions/*
/source/stor_hvisor/?odule*
/source/stor_hvisor/*.mod.*
node_modules
test/temp
.sass-cache
app/bower_components
.tmp
test/bower_components/
*.DS_Store
.ruby-version
/source/orch_mgr/java/gmon.out
/source/fdsp/gmon.out
gmock-1.7.0/gmock_test
nginx/src/main/ngx_modules.c
**/am-urls.cpp
*.deb
tmppkg*/
.cproject
.project
.pydevproject
.settings
*.iml
ycm.flags
.idea/*
source/java/.idea
source/.idea
source/java/${build.dir}/
source/java/null
.DS_Store
source/am-engine/misc/am-urls.cpp
source/tools/pharos/.DS_Store
source/java/out/.DS_Store
*.class
source/unit-test/fds-probe/sm-embed/in.h
source/java/admin-webapp/app
source/java/admin-webapp/bower_components
source/java/admin-webapp/node_modules
source/java/admin-webapp/npm-debug.log
source/npm-debug.log
source/unit-test/fds-probe/platform/node-work.h
source/java/target
source/am-engine/misc/build.linux-x86_64
source/am-engine
chef/nodes
chef/vagrant/*/.vagrant/*
source/java/${project.build.dir}
source/test/.idea
source/test/formation.conf
source/config/etc/*.conf
ansible/resources/*
files_after_smoke_test
files_after_starting_fds
files_after_stopping_fds
files_after_system_test
files_after_unit_test
files_before_smoke_test
files_before_starting_fds
files_before_stopping_fds
files_before_system_test
files_before_unit_test
ansible/.devsetup-is-*
source/cit/*.xml
source/cit/PyUnit.log*
source/cit/classes
source/cit/surefire-reports
source/sm*log
