Build/*
**/am-urls.cpp
*.DS_Store
*.a
*.class
*.cmd
*.deb
*.dylib
*.iml
*.ko
*.la
*.lai
*.lo
*.o
*.orig
*.pyc
*.slo
*.so
*.sw?
*.chk
*~
.DS_Store
.classpath
.cproject
.devsetup.chk
.idea/*
.project
.pydevproject
.ruby-version
.sass-cache
.settings
.tmp
ansible/.devsetup-is-*
ansible/resources/*
app/bower_components
build.*
chef/nodes
chef/vagrant/*/.vagrant/*
core
coverage
cscope.*
gmock-1.7.0/gmock_test
linux-*
node_modules
target/
source/.idea
source/am-engine
source/am-engine/misc/am-urls.cpp
source/am-engine/misc/build.linux-x86_64
source/cit/*.xml
source/cit/*.log*
source/cit/classes
source/cit/surefire-reports
source/config/sys-repo/
source/config/user-repo/
source/config/var
source/fdsp/gmon.out
source/include/apis/*.cpp
source/include/apis/*.h
source/include/fdsp/*
source/include/net-proxies/iomsg.h
source/include/xdi/*.cpp
source/include/xdi/*.h
source/java/${build.dir}/
source/java/${project.build.dir}
source/java/.idea
source/java/admin-webapp/app
source/java/admin-webapp/bower_components
source/java/admin-webapp/node_modules
source/java/admin-webapp/npm-debug.log
source/java/gen-java
source/java/null
source/java/out/.DS_Store
source/net-proxies/*_clnt.c
source/net-proxies/*_serv.c
source/net-proxies/*_server.c
source/net-proxies/*_svc.c
source/net-proxies/*_xdr.c
source/npm-debug.log
source/orch_mgr/java/gen-java/*
source/orch_mgr/java/gmon.out
source/sm*log
source/stor_hvisor/*.mod.*
source/stor_hvisor/.tmp_versions/*
source/stor_hvisor/?odule*
source/test/.idea
source/test/formation.conf
source/test/integration-framework/downloads
source/test/integration-framework/test-reports
source/tools/cli.log
source/tools/install/.pkg.cache
source/tools/pharos/*
source/tools/pharos/.DS_Store
source/tools/pharos/libposix-aio-0.8.1/*
source/tools/results/*
source/unit-test/fds-probe/am/in.h
source/unit-test/fds-probe/platform/node-work.h
source/unit-test/fds-probe/s3-template/o.h
source/unit-test/fds-probe/sm-embed/in.h
source/unit-test/fds-probe/thrift/server/endpoint-test.P
source/unit-test/fds-probe/thrift/server/endpoint-test.cpp-chk
source/unit-test/fds-probe/thrift/thrift-gen/*
source/unit-test/svc-layer/TestAMSvc.cpp
source/unit-test/svc-layer/TestAMSvc.h
source/unit-test/svc-layer/TestAMSvc_server.skeleton.cpp
source/unit-test/svc-layer/TestSMSvc.cpp
source/unit-test/svc-layer/TestSMSvc.h
source/unit-test/svc-layer/TestSMSvc_server.skeleton.cpp
source/unit-test/svc-layer/svc_constants.cpp
source/unit-test/svc-layer/svc_constants.h
source/unit-test/svc-layer/svc_types.cpp
source/unit-test/svc-layer/svc_types.h
tags
tags.lst
test/bower_components/
test/temp
thrift-0.9.0/compiler/cpp/src/thrift*
thrift-0.9.0/contrib/debian/debian
thrift-0.9.0/lib/py/thrift.egg-info/
thrift-0.9.0/tutorial/erl/client.sh
tmppkg*/
ycm.flags
/nbproject/
/CMakeCache.txt
/CMakeFiles/2.8.12.2/
/CMakeFiles/
**/nb-configuration.xml
**/nbproject/
ExtendedFstabTest.unit.bak
ExtendedFstabTest.unit.1*
ExtendedFstabTest.unit.altered.1*
.coverage
CMakeLists.txt
source/include/dynamic_vers.h
source/include/dynamic_machine_arch.h
