.summary-number-display{
    
    .main-number {
        font-size: 34px;
        color: black;
        height: 44px;
    }

    .decimals {
        color: black;
        font-size: 18px;
        height: 25px;
        margin-top: 19px;
    }
}