<div class="qos-panel" style="width: 700px;">
       
    <button-bar ng-model="qosPreset" buttons="presets" label="name" ng-class="{'add-bottom-space' : qosPreset === presets[presets.length-1] }"></button-bar>
    
    <div class="volume-sla-edit-display volume-gray-container" ng-show="qosPreset === presets[presets.length-1]" style="width: 100%;" show-notify>
        <div>
            <div class="title-case" translate>volumes.qos.l_priority</div>
            <slider class="volume-priority-slider" min="1" max="10" step="1" ng-model="qos.priority" max-label="{{ 'volumes.qos.l_lowest' | translate }}" min-label="{{ 'volumes.qos.l_highest' | translate }}"></slider>
        </div>
        <div>
            <div class="title-case" translate>volumes.qos.l_iops_guarantee</div>
            <slider class="volume-iops-slider" values="guaranteeChoices" ng-model="qos.iopsMax" min-label="{{'volumes.qos.l_number_of_iops' | translate }}" label-function="guaranteeSliderLabel"></slider>
        </div>
        <div>
            <div class="title-case" translate>volumes.qos.l_iops_limit</div>
            <slider class="volume-limit-slider" values="limitChoices" ng-model="qos.iopsMin" min-label="{{ 'volumes.qos.l_max_iops' | translate }}" label-function="limitSliderLabel"></slider>
        </div>
    </div>
</div>
