<div class="qos-panel" ng-style="{ width: (editing === true )? '400px' : '290px' }">
       
    <div class="header">
        <span translate>volumes.l_qos</span>
        <div class="pull-right" ng-click="editing = true" ng-show="editing == false">
            <span class="icon icon-edit"></span>
        </div>
    </div>

    <table class="default" style="width: 100%;">
        <thead>
            <tr>
                <th class="no-top-padding" colspan="2" translate>
                    volumes.l_settings
                </th>
            </tr>
        </thead>
        <tbody ng-show="editing === false" class="volume-display-only">
            <tr>
                <td translate>volumes.th_priority</td>
                <td class="pad">
                    <span class="volume-priority-display-only">{{qos.priority}}</span>
                    <span translate ng-show="priority === 1">volumes.l_l_highest</span>
                    <span translate ng-show="priority === 10">volumes.l_l_lowest</span>
                </td>
            </tr>
            <tr>
                <td translate>volumes.th_iops_guarantee</td>
                <td class="pad">
                    <span class="volume-sla-display">{{qos.capacity}}%</span>
                </td>
            </tr>
            <tr>
                <td translate>volumes.th_iops_limit</td>
                <td class="pad">
                    <span class="volume-limit-display" ng-show="qos.limit > 0">{{qos.limit}} {{ 'volumes.l_iops' | translate }}</span>
                    <span class="volume-limit-display-none" ng-show="qos.limit === 0" translate>common.l_none</span>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="volume-sla-edit-display" ng-show="editing === true" style="width: 400px;" show-notify>
        <div>
            <div class="title-case" translate>volumes.l_priority</div>
            <slider class="volume-priority-slider" min="1" max="10" step="1" ng-model="copyPriority" max-label="{{ 'volumes.l_lowest' | translate }}" min-label="{{ 'volumes.l_highest' | translate }}"></slider>
        </div>
        <div>
            <div class="title-case" translate>volumes.l_iops_guarantee</div>
            <slider class="volume-iops-slider" min="0" max="100" step="10" ng-model="copyCapacity" min-label="{{'volumes.l_number_of_iops' | translate }}"></slider>
        </div>
        <div>
            <div class="title-case" translate>volumes.l_iops_limit</div>
            <slider class="volume-limit-slider" values="limitChoices" ng-model="copyLimit" min-label="{{ 'volumes.l_max_iops' | translate }}" label-function="limitSliderLabel"></slider>
        </div>
    </div>
    
    <div ng-show="editing === true" >
        <button class="btn btn-primary skinny save-qos-settings" ng-click="doneEditing()">
            <span ng-show="saveOnly === 'true' || saveOnly === true" translate>common.l_done</span>
            <span ng-show="saveOnly === 'false' || saveOnly === false" translate>common.l_save</span>
        </button>
        <button class="btn btn-secondary skinny cancel-qos-settings" translate ng-show="saveOnly === 'false' || saveOnly === false" ng-click="cancel()">
            common.l_cancel
        </button>
        
    </div>
</div>
