.fui-input{

    .input-field {
        position: relative;
        border-radius: 6px;
        background-color: white;
        padding: 7px;
        padding-right: 8px;
        padding-left: 8px;
        color: black;
        font-family: "Lato";
        border: 1px solid #CCCCCC;
    }
    
    .skinny {
        height: 32px;
        padding-top: 2px;
        
        .input-icon {
            top: 6px;
            right: 6px;
        }
    }
    
    .no-border {
        border: 0px;   
    }

    input {
        width: 100%;
        border: 0px;
        padding-right: 28px;
        font-size: 16px;
    }

    input:focus {
        outline: 0;
    }
    
    input:disabled {
        background-color: transparent;
    }

    .input-icon {
        position: absolute;
        top:4px;
        right: 15px;
        color: #CCCCCC; 
    }
    
    .not-valid-field {
        border-color: red;
    }
    
    .input-error-text {
        color: white;
        font-weight: bold;
        margin-top: 4px;
        margin-left: 0px;
        margin-bottom: 4px;
        display: table-cell;
        font-size: 14px;
    }
}
