.nodecontainer {
    
    .nodes {
        clear: both;
    }
    
    .state-unknown {
        color: $text_very_light_color;
    }
    
    .state-ok {
        color: $green;
    }
    
    .state-down {
        color: $orange;
    }
    
    .state-issues {
        color: $yellow_green;
    }
    
    .process-width {
        width: 112px;
        text-align: center;
    }
    
    .process-cell {
        padding: 0px;
        
        .remove{
            color: $fds_dark_gray;
            
            &:hover {
                cursor: pointer;
                color: red;                
            }
        }
    }
}