<div ng-controller="systemController">

    <!-- Real stuff -->
    <div class="nodecontainer">

        <div class="nodes">
            <span>{{name}}</span>
            <span class="header pull-left" style="margin-right: 24px;" translate>system.l_nodes</span>
            <fui-input style="width: 350px;" class="skinny pull-left" ng-model="searchText" placeholder="{{ 'common.l_search' | translate }}" icon-class="icon-search"></fui-input>

            <a ng-click="addNode()" class="add_node pull-right btn btn-primary skinny" style="margin-right: 5px;" translate>system.l_add_node</a>
        </div>
        
        <!-- actual table -->
        <div class="table-container">
            <table class="default">
                <thead>
                    <th ng-class="{ 'selected' : sortPredicate.indexOf( 'node_name' ) !== -1 }" tool-tip text="{{ 'system.tt_node_name' | translate }}">
                        <sort-helper ng-model="sortPredicate" value="node_name">{{ 'system.th_node_name' | translate }}</sort-helper>
                    </th>
                    
                    <th ng-class="{ 'selected' : sortPredicate.indexOf( 'ssdCapacity' ) !== -1 }" tool-tip text="{{ 'system.tt_node_ssd_capacity' | translate }}">
                        <sort-helper ng-model="sortPredicate" value="ssdCapacity">{{ 'system.th_node_ssd_capacity' | translate }}</sort-helper>
                    </th>  
                    
                    <th ng-class="{ 'selected' : sortPredicate.indexOf( 'hddCapacity' ) !== -1 }" tool-tip text="{{ 'system.tt_node_hdd_capacity' | translate }}">
                        <sort-helper ng-model="sortPredicate" value="hddCapacity">{{ 'system.th_node_hdd_capacity' | translate }}</sort-helper>
                    </th>     
                
<!--
                    <th><div translate>system.th_site</div></th>
                    <th><div translate>system.th_local_domain</div></th>
-->
                    <th class="process-width" ng-class="{ 'selected' : sortPredicate.indexOf( 'am' ) !== -1 && sortPredicate.length < 4 }" tool-tip text="{{ 'system.tt_am' | translate }}">
                        <sort-helper ng-model="sortPredicate" value="am">{{ 'system.th_am' | translate }}</sort-helper>
                    </th>
                    <th class="process-width" ng-class="{ 'selected' : sortPredicate.indexOf( 'hw' ) !== -1 }" tool-tip text="{{ 'system.tt_pm' | translate }}">
                        <sort-helper ng-model="sortPredicate" value="hw">{{ 'system.th_pm' | translate }}</sort-helper>
                    </th>
                    <th class="process-width" ng-class="{ 'selected' : sortPredicate.indexOf( 'om' ) !== -1 }" tool-tip text="{{ 'system.tt_om' | translate }}">
                        <sort-helper ng-model="sortPredicate" value="om">{{ 'system.th_om' | translate }}</sort-helper>
                    </th>
                    <th class="process-width" ng-class="{ 'selected' : sortPredicate.indexOf( 'sm' ) !== -1 }" tool-tip text="{{ 'system.tt_sm' | translate }}">
                        <sort-helper ng-model="sortPredicate" value="sm">{{ 'system.th_sm' | translate }}</sort-helper>
                    </th>
                    <th class="process-width" ng-class="{ 'selected' : sortPredicate.indexOf( 'dm' ) !== -1 }" tool-tip text="{{ 'system.tt_dm' | translate }}">
                        <sort-helper ng-model="sortPredicate" value="dm">{{ 'system.th_dm' | translate }}</sort-helper>
                    </th>

                    <th class="process-width" tool-tip text="{{ 'system.tt_remove' | translate }}">
                        <div>{{ 'common.th_remove' | translate }}</div>
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="node in nodes | filter:searchText | orderBy:sortPredicate:reverse" class="node-item" >
                        <td class="node-name">{{node.name}}</td>
<!--
                        <td>{{node.site}}</td>
                        <td>{{node.domain}}</td>
-->
                        <td class="ssd-capacity">{{ getByteString( node.ssdCapacity.value, node.ssdCapacity.unit ) }}</td>
                        <td class="hdd-capacity">{{ getByteString( node.diskCapacity.value, node.diskCapacity.unit ) }}</td>
                        
                        <td class="process-cell process-width ams"><span class="{{getStatus( node.serviceMap.AM )}}"></span></td>
                        <td class="process-cell process-width pms"><span class="{{getStatus( node.serviceMap.PM )}}"></span></td>
                        <td class="process-cell process-width oms"><span class="{{getStatus( node.serviceMap.OM )}}"></span></td>
                        <td class="process-cell process-width sms"><span class="{{getStatus( node.serviceMap.SM )}}"></span></td>
                        <td class="process-cell process-width dms"><span class="{{getStatus( node.serviceMap.DM )}}"></span></td>
                        <td class="process-cell process-width"><span class="icon-delete remove" ng-click="removeNode( node )"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div style="height: 60px;"></div>
</div>
