<div ng-controller="systemController">

    <div class="col-xs-12 node-list front-page">
        <div class="header">
            <span class="light-print" translate>system.l_nodes</span>
            <a data-href="/nodes/new" class="pull-right" ng-click="addNode()" translate>system.l_add_node</a>
        </div>
        <div class="nodes-container table-container">
            <table class="default">
                <thead>
                    <th></th>
                    <th><div translate>system.th_node_name</div></th>
<!--
                    <th><div translate>system.th_site</div></th>
                    <th><div translate>system.th_local_domain</div></th>
-->
                    <th><div translate>system.th_hw</div></th>
                    <th><div translate>system.th_om</div></th>
                    <th><div translate>system.th_sm</div></th>
                    <th><div translate>system.th_dm</div></th>
                    <th><div translate>system.th_am</div></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="node in nodes" class="node-item" >
                        <td>
                            <span class="{{getOverallStatus( node )}}"></span>
                        </td>
                        <td>{{node.node_name}}</td>
<!--
                        <td>{{node.site}}</td>
                        <td>{{node.domain}}</td>
-->

                        <td><span class="{{getStatus( node.hw )}}"></span></td>
                        <td><span class="{{getStatus( node.om )}}"></span></td>
                        <td><span class="{{getStatus( node.sm )}}"></span></td>
                        <td><span class="{{getStatus( node.dm )}}"></span></td>
                        <td><span class="{{getStatus( node.am )}}"></span></td>
                    </tr>
                                        <tr ng-repeat="node in nodes" class="node-item" >
                        <td>
                            <span class="{{getOverallStatus( node )}}"></span>
                        </td>
                        <td>{{node.node_name}}</td>
                        <td>{{node.site}}</td>
                        <td>{{node.domain}}</td>

                        <td><span class="{{getStatus( node.hw )}}"></span></td>
                        <td><span class="{{getStatus( node.om )}}"></span></td>
                        <td><span class="{{getStatus( node.sm )}}"></span></td>
                        <td><span class="{{getStatus( node.dm )}}"></span></td>
                        <td><span class="{{getStatus( node.am )}}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
