<div class="fds-modal" ng-show="show === true">
  <div class="content-pane" ng-style="{ width: width }">
    <div class="header">
      {{ $event.title }}
    </div>
    <div class="text">
      {{$event.text}}
    </div>
    <div class="button-panel">
      <button class="btn btn-primary skinny" ng-click="okPressed()">{{ okText
        }}
      </button>
      <button class="btn btn-secondary skinny" ng-click="cancel()"
              ng-show="showCancel">{{ cancelText }}
      </button>
    </div>
  </div>
</div>