.fds-checkbox {
    
    margin-right: 8px;
    
    input[type=checkbox]{
        display: none;
    }
    
    .checkbox-icon {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .selector {
        width: 18px;
        height: 18px;
        position: relative;
        top: 9px;
        margin-right: 4px;
        cursor: pointer;
        
        .fds-check-selected {
            background-color: $button_primary;
            border: 1px solid $button_primary !important;
        }
        
        .fds-check-selected:hover {
            background-color: $button_primary_hover;
            border: 1px solid $button_primary_hover !important;
        }
        
        .fds-check-container {
            width: 18px;
            height: 18px;
            border-radius: 4px;
            border: 1px solid $text_very_light_color;
            
            position: absolute;
            top: 0px;
            left: 0px;
            transition: 200ms;
        }
        
        .fui-check {
            color: white;
            position: absolute;
            top: 0px;
            left: 3px;
            transition: 200ms;
        }
    }
    
    .check-label {
        padding-top: 4px;
    }
}