<div class="spinner-parent">
    <div class="flex">
        <input type="text" ng-model="value" maxlength="{{maxlength}}" size="{{maxlength}}" ng-class="{'no-buttons': !buttons}" ng-blur="focusLost()" ng-keydown="keyPressed( $event )" ng-disabled="!enable"/>
    </div>
    <div class="button-parent" ng-show="buttons">
        <div class="button-base increment" draggable="false" ng-class="{pressed: upPressed}" ng-mousedown="incrementDown()" ng-mouseup="incrementUp()" ng-mouseleave="incrementUp()" ng-mousemove="incrementUp()" ng-click="increment()">
            <span class="caret"></span>
        </div>
        <div class="button-base decrement" draggable="false" ng-class="{pressed: downPressed}" ng-mousedown="decrementDown()" ng-mouseup="decrementUp()" ng-mouseleave="decrementUp()" ng-mousemove="decrementUp()" ng-click="decrement()">
            <span class="caret"></span>
        </div>
    </div>
</div>
