table.volumes {
  td.name {
    font-weight: bold;
  }
  td.consume {
    width: 6em;
  }

  td.usage {
    width: 8em;
    svg {
      vertical-align: middle;
      display: inline;
      width: 50px;
      height: 30px;
    }
    span {
      vertical-align: middle;
      display: inline;
      margin-left: .5em;
    }
  }
  td.priority {
    text-align: center;
    em {
      display: inline-block;
      border: 1px solid $text_link_color;
      border-radius: 20px;
      width: 30px; height: 30px;
      padding-top: 4px;
      color: $text_link_color;
      font-style: normal;
    }
  }
  td.action i {
    margin-top: 2px;
  }
}
