# platformd

description     "disk_type"

start on (starting fds-pm)

limit nofile 400000 400000
limit core unlimited unlimited

env LD_LIBRARY_PATH=/fds/lib:/opt/fds-deps/embedded/lib:/opt/fds-deps/embedded/jre/lib/amd64
env PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/fds-deps/embedded/bin:/opt/fds-deps/embedded/jre/bin:/fds/bin:/fds/sbin

task

script
if (grep -i "^ *enable_disk_activation *= *true" /fds/etc/platform.conf) ; then
   /fds/bin/fds-disk --activate --mount
   /fds/bin/fds-disk -p > /fds/var/logs/disk.log
else
   /fds/bin/disk_type.py -m
fi
end script
