description     "fds-influxdb"

start on (net-device-up and local-filesystems and runlevel [2345])
stop on runlevel [016]

respawn
respawn limit 10 5

limit nofile 65536 65536

console log
setuid influxdb
setgid influxdb

exec /opt/fds-deps/embedded/influxdb/influxdb -config=/fds/etc/influxdb_config.toml
