# orchmgr
#
description     "OrchMgr"
{% if fds_om_host == inventory_hostname %}
start on runlevel [2345]
stop on runlevel [!2345]
{% endif %}

limit nofile 400000 400000
limit core unlimited unlimited

env LD_LIBRARY_PATH=/fds/lib:/opt/fds-deps/embedded/lib:/opt/fds-deps/embedded/jre/lib/amd64
env PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/fds-deps/embedded/bin:/opt/fds-deps/embedded/jre/bin:/fds/bin:/fds/sbin
env JAVA_HOME=/opt/fds-deps/embedded/jre/

env FDS_ROOT=/fds

script
chdir $FDS_ROOT/bin
exec java -classpath $CLASSPATH:/fds/lib/java/\* com.formationds.om.Main --foreground --fds-root=$FDS_ROOT > $FDS_ROOT/bin/om.out 2>&1
end script
