# platformd

description     "platformd"

start on runlevel [2345]
stop on runlevel [!2345]

limit nofile 400000 400000
limit core unlimited unlimited

env LD_LIBRARY_PATH=/fds/lib:/opt/fds-deps/embedded/lib:/opt/fds-deps/embedded/jre/lib/amd64
env PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/fds-deps/embedded/bin:/opt/fds-deps/embedded/jre/bin:/fds/bin:/fds/sbin

env FDS_ROOT=/fds

respawn
respawn limit 10 5

script
chdir $FDS_ROOT/bin
exec platformd --fds-root=$FDS_ROOT --foreground > $FDS_ROOT/bin/pm.out 2>&1
end script
