# stat-badger

description     "Stat Badger"

#limit nofile 400000 400000
#limit core unlimited unlimited

env LD_LIBRARY_PATH=/fds/lib:/opt/fds-deps/embedded/lib
env PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/fds-deps/embedded/bin:/opt/fds-deps/embedded/jre/bin:/fds/bin:/fds/sbin
chdir /opt/fds-deps/embedded/stat-badger

exec python badger_core.py -f /etc/stat-badger/config.json > /tmp/badger_stdout_pretty.log 2>/var/log/stat-badger/badger.log
