Makefile.in
aclocal.m4
configure
doc/Makefile.in
examples/Makefile.in
examples/c++/Makefile.in
examples/c/Makefile.in
lib/Makefile.in
tests/Makefile.in
tinytest/Makefile.in
Makefile
ac_config.h
autom4te.cache/
config.log
config.status
doc/Makefile
examples/Makefile
examples/c++/.deps/
examples/c++/.libs/
examples/c++/Makefile
examples/c++/example1
examples/c++/example2
examples/c++/example3
examples/c++/example4
examples/c/.deps/
examples/c/.libs/
examples/c/Makefile
examples/c/example1
examples/c/example2
examples/c/example3
lib/.deps/
lib/.libs/
lib/Makefile
lib/libconfig++.pc
lib/libconfig.pc
libtool
stamp-h1
tests/.deps/
tests/.libs/
tests/Makefile
tests/libconfig_tests
tinytest/.deps/
tinytest/Makefile
