.node-list {
  margin-bottom: 30px;
}

.legend {
  .header {
    color: $default_text_color;
    padding-left: 20px;
  }

  .content {
    color: #848484;

    .list {
      padding-left: 15px;

        span {
            padding-right: 6px;
            color: $fds_dark_green;

            &.fui-radio-unchecked {
                color: $text_light_color;
            }
        }
    }
  }
}

.node-sub-services {

    .tristatecheck {

        margin-left: 12px;
        margin-right: 4px;
    }

    bottom-border: 1px solid black;
}

.node-status,
.node-details {
  td + td {
    text-align: right;
    color: $sub_header_color;
  }
}

.node-list .small {
  font-size: 0.9em;
}

#discovered-nodes {
  padding: 0 10px 5px 10px;

  p {
    margin: 0;
    padding: 15px 0 10px;
  }
}

.node-item-manager,
.node-item {
  cursor: pointer;
  border: 0px !important;

    td > span {
        color: green;//$fds_dark_green;

        &.fui-radio-unchecked, &.fui-arrow-right {
            color: $text_light_color;
        }

        &.fui-arrow-right {
            padding-right: 4px;
            @include transition( linear, 200ms );

            &.open {
                transform: rotate(90deg);
            }
        }
    }
}

.node-status-row {

    &.closed > td {
        padding-top: 0px;
        padding-bottom: 0px;
        @include transition( linear, 200ms );
    }
}

.node-status-details {

    height: 0px;
    overflow: auto;
    @include transition( linear, 200ms );
    margin-left: 18px;

    .node-columns {
        display: inline-block;

        div > span {
            padding-right: 8px;
        }

        &.active-status {
            color: $text_very_light_color;
            padding-left: 12px;
        }
    }

    &.open {
        height: 100px;
    }

    .fui-check-inverted-2 {
        color: green;//$fds_dark_green;
    }

    .fui-radio-unchecked {
        color: $text_very_light_color;
    }
}

.unattached-node {
  list-style-type: none;
  margin: 5px 0;

  .node-item {
    font-size: 1.1em;
    font-weight: bold;
    padding: 15px 0 0 0;
  }

  .node-item-managers {
    margin: 0 20px;
  }

  & + .unattached-node {
    border-top: 1px solid #aaa;
    margin-top: 5px;
  }

  table {
    td.manager {
      width: 90%;
    }
  }
}
