body {
  font: 13px/1.5 "Helvetica Neue", Arial, Helvetica, Sans-Serif;
  background-color: #444;
  color: $default_text_color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Thanks, Paul. */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: normal;
  color: $header_color;
  margin: 0;
}
