$page-padding: 0px;

.header {
    color: $default_text_color;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    //  margin: 0 0 7px 10px;
}

.sub-header {
    color: $text_very_light_color;
    font-weight: normal;
    font-size: 1.1em;
}

.header.top-label {
    padding-left: $page-padding;
    padding-right: $page-padding;
    color: $text_very_light_color;
}

.tall-icon-fix {
    top: 10px !important;
}

.page-vertical-spacer {
    height: 20px;
}

section.block-section {

    color: $default_text_color;
    
    .padded-right {
        padding-right: 48px;
    }
    
    .section-header {

    }

    .main-value {
        color: $default_text_color;
        font-size: 1.8em;
        padding-right: 4px;
    }

    .detail-value {
        color: $text_very_light_color;
        max-width: 500px;
    }

    a {
        color: $fds_extra_light_green;
        cursor: pointer;
    }
}
