.modal-header {
    border-bottom: 1px solid $text_very_light_color;
    padding: 0px;
    padding-bottom: 10px;
    margin-bottom: 36px;
    font-size: 16px;
    color: black;

    a {
        padding-top: 0.3em;
    }

//  span {
//    font-size: 1.2em;
//    font-weight: 500;
//    color: #000000;
//  }
}
