$base_bg_color: #EFF0F2;

$header_color: #4E4E4E;
$widget_color: #4C4C4C;
$default_text_color: #4D4D4D;
$text_light_color: #999999;
$text_link_color: #007FFC;

$gray_border: #CCCCCC;
$dark_border: #444444;


/* Alert colors */
$green: #68BC1D;
$yellow: #F5D200;

/* Dimensions
================= */
$nav_width: 115px;
$stage_width: 768px - $nav_width;

$main_margin: 20px;
$half_margin: 10px;
