<div ng-controller="createTenantController" class="dialog-page create-tenant" ng-class="{shown: creating,hideit: !creating}" show-notify ng-show="creating">

    <div class="modal-header">
        <span>Create Tenant</span>
    </div>

    <div class="settings-body">
        <div class="form-group" style="width: 260px;">
            <fui-input type="text" class="form-control" size="32" placeholder="Tenant Name" ng-model="name">
        </div>
    </div>

    <div class="pull-left"style="padding-top: 12px;margin-bottom: 42px;">
        <button class="btn btn-primary" style="display: inline-block;" ng-click="save()">Create Tenant</button>
        <button class="btn btn-secondary cancel-creation" style="display: inline-block;" ng-click="cancel()">Cancel</button>
    </div>

</div>
