<div ng-controller="createTenantController" class="create-tenant" show-notify>

    <div class="modal-header">
        <span translate>tenants.l_create_tenant_title</span>
    </div>

    <div class="settings-body">
        <div class="form-group" style="width: 260px;">
            <fui-input type="text" class="form-control tenant-name-input" size="32" placeholder="Tenant Name" ng-model="name">
        </div>
    </div>

    <div style="display: inline-block;">
        <div class="pull-left"style="padding-top: 12px;clear: both;">
            <button class="btn btn-primary create-tenant-button" style="display: inline-block;" ng-click="save()" translate>tenants.l_create_tenant_title</button>
            <button class="btn btn-secondary cancel-creation" style="display: inline-block;" ng-click="cancel()" translate>common.l_cancel</button>
        </div>
    </div>

</div>
