<div ng-controller="activityController">

    <div class="coming-soon-parent" ng-show="!isAllowed( 'SYS_MGMT' )">
        <div class="coming-soon-child">
            <div style="">
                <span style="color: white;" translate>common.coming_soon</span>
            </div>
        </div>
    </div>

    <div class="header top-label">
        <span translate>activities.header</span>
    </div>

    <div class="page-vertical-spacer"></div>

    <div class="header top-label">
        <input type="text" class="form-control skinny" placeholder="Search..." ng-model="searchQuery" style="width: 300px;">
        <div>
            <table class="default" style="margin-top: 8px;">
                <tbody>
                    <tr ng-repeat="activity in activities | filter:searchQuery">
                        <td style="text-align: left;">
                            <span class="{{getActivityClass( activity.category )}}"></span>
                            <span>{{ getActivityCategoryString( activity.category ) }}</span>
                        </td>
                        <td>{{activity.defaultMessage}}</td>
                        <td style="text-align: right;">{{ getTimeAgo( activity.initialTimestamp )}}</td>
                    </tr>
                    <tr ng-show="activities.length === 0">
                        <td colspan="3" translate>activities.desc_no_activities</td>
                    </tr>
                </tbody>
            </table>
        </div>
<!--        <pager ng-model="activities" filter="filter" call="getActivities" back-label="{{ 'common.l_back' | translate }}" next-label="{{ 'common.l_next' | translate }}"></pager>-->
    </div>
</div>
