<div>
    <div class="dropdown" ng-class="{open: open === true, 'dropdown-no-background' : background === 'none'}" ng-click="openList( $event )">
        <button class="btn btn-primary dropdown-toggle" ng-class="{'dropdown-no-background' : background === 'none', skinny: skinny, 'dropdown-gray-border': border === 'gray' }" ng-style="{'background-color': backgroundColor, color: color }">
            <span ng-class="{'pull-left': type === 'select'}">{{currentLabel}}</span>
            <span class="caret" ng-style="{color: color, 'border-top-color': color}"></span>
        </button>
        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
        <ul class="dropdown-menu dropdown-inverse" ng-style="{ left: leftShift }">
            <li ng-repeat="item in items">
                <a ng-click="selectItem( item );" ng-show="item.name !== '-'">{{item.name}}</a>
                <div ng-show="item.name === '-'" class="divider"></div>
            </li>
        </ul>
    </div>
</div>
