<div ng-controller="cloneVolumeController" class="clone-volume-selector" style="color: black;width: 500px;" ng-show="volumeVars.creating === true">

<!--
    <div class="header">
        <span class="light-print" translate>volumes.l_starting_point</span>
    </div>
-->
    
    <button-bar buttons="creationChoices" ng-model="volumeVars.toClone" label="label"></button-bar>
    
<!--
    <div class="to-clone-or-not">
        <fds-radio ng-model="volumeVars.toClone" value="new" name="clone" icon-class="icon-presets" label="{{ 'volumes.l_create_blank_volume' | translate }}"></fds-radio>
        <fds-radio ng-model="volumeVars.toClone" value="clone" name="clone" icon-class="icon-clone" label="{{ 'volumes.l_clone_existing' | translate }}" ng-show="cloneOptions.length > 0"></fds-radio>
    </div>
-->
    
    <div class="cloning-options" ng-show="volumeVars.toClone.value === 'clone'" style="width: 700px;">
    
        <div class="flex" style="padding-bottom: 4px;">
            <div style="padding-right: 4px;line-height: 2.5;" translate>volumes.l_volume_to_clone_from</div>
            <fui-dropdown class="volume-dropdown" selected="volumeVars.cloneFromVolume" items="volumes" skinny="true" background-color="white" color="black" name-property="name" border="#CCCCCC"></fui-dropdown>
        </div>
        
        <time-slider valid-ranges="ranges" ng-model="volumeVars.cloneFromVolume.timelineTime" label="{{ 'volumes.l_point_timeline' | translate }}" label-function="dateLabelFunction" domain-labels="domainLabels"></time-slider>
    </div>
    
</div>