<div ng-controller="qualityOfServiceController" class="qos-panel" style="width: 290px;">
       
    <div class="header">
        <span translate>volumes.l_qos</span>
        <div class="pull-right" ng-click="editing = true" ng-show="editing == false">
            <span class="icon icon-pencil"></span>
        </div>
    </div>

    <table class="default" style="width: 100%;">
        <thead>
            <tr>
                <th class="no-top-padding">
                </th>
                <th class="no-top-padding">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td translate>volumes.th_priority</td>
                <td class="pad">
                    <span class="volume-priority-display-only" ng-show="editing === false">{{priority}}</span>
                    <span class="flex" ng-show="editing === true">
                        <spinner class="skinny volume-priority-spinner" value="priority" min="1" max="10" step="1"></spinner>
                    </span>
                </td>
            </tr>
            <tr>
                <td translate>volumes.th_iops_guarantee</td>
                <td class="pad">
                    <span class="volume-sla-display" ng-show="editing === false">{{capacity}}%</span>
                    <span class="flex" ng-show="editing === true">
                        <spinner class="skinny volume-sla-spinner" value="capacity" min="0" max="100" step="10"></spinner>
                        <span style="padding-left: 4px; padding-top: 8px;">%</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td translate>volumes.th_iops_limit</td>
                <td class="pad">
                    <span class="volume-limit-display" ng-show="editing === false">{{iopLimit}}</span>
                    <span ng-show="editing === true">
                        <spinner class="skinny volume-limit-spinner" value="iopLimit" min="0" max="3000" step="100"></spinner>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary skinny save-qos-settings" translate ng-show="editing === true" ng-click="doneEditing()">
            common.l_done
        </button>
    </div>
</div>
