<div ng-controller="qualityOfServiceController" class="volume-edit-row qos-panel">

        <div class="header">
            <span class="light-print">Quality of Service</span>
        </div>

    <div class="volume-qos-summary-container" ng-show="!editing">
        <div class="form-group inline">
            <span>Priority: </span>
            <span class="value">{{priority}}</span>
        </div>
        <div class="form-group inline">
            <span>IOPs Capacity Gaurantee: </span>
            <span class="value" ng-show="capacity != 0">{{capacity}}%</span>
            <span class="value" ng-show="capacity == 0">None</span>
        </div>
        <div class="form-group inline">
            <span>IOPs Limit: </span>
            <span class="value">{{iopLimit}} IOPs</span>
        </div>
        <div class="inline icon-container" ng-click="editing = true" title="Edit Settings">
            <span class="icon fui-new"></span>
        </div>
    </div>

    <div class="volume-edit-container" ng-class="{open: editing}">
        <section>
            <div>
                <span class="light-print">Priority:</span>
                <span class="volume-edit-label">{{priority}}</span>
            </div>
            <fui-slider values="priorityOptions" value="priority" min-label="Low" max-label="High"></fui-slider>
        </section>
        <section>
            <div style="margin-bottom: 8px;">
                <span class="light-print">IOPs Capacity Guarantee:</span>
                <span class="volume-edit-label" ng-show="capacity != 0">{{capacity}}%</span>
                <span class="volume-edit-label" ng-show="capacity == 0">None</span>
            </div>
            <fui-slider min="0" max="100" step="10" value="capacity" min-label="0%" max-label="100%"></fui-slider>
        </section>
        <section>
            <div style="margin-bottom: 8px;">
                <span class="light-print">IOPs Limit:</span>
                <span class="volume-edit-label">{{iopLimit}}</span>
            </div>
            <fui-slider min="0" max="3000" step="100" value="iopLimit" min-label="None" max-label="3000"></fui-slider>
        </section>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="editing = false">Done</button>
        </div>
    </div>
</div>
