<div class="create-panel volumes" ng-controller="volumeCreateController">
    <div class="modal-header">
        <span translate class="create-volume-create-title" ng-show="volumeVars.creating === true">volumes.l_create_volume</span>
        <div class="pull-right flex">
            <button class="btn btn-primary skinny" style="display: inline-block;margin-right: 8px;" ng-click="save()">
                <span ng-show="volumeVars.creating === true" translate>volumes.l_create_volume</span>
            </button>
            <button class="btn btn-secondary cancel-creation skinny" style="display: inline-block;" ng-click="cancel()" translate>common.l_cancel</button>
        </div>
    </div>

    <div class="settings-body">
        
        <div ng-include="'scripts/volumes/create/clone.html'" class="add-bottom-space"></div>
        
        <section>
            <div class="header">
                <span class="light-print" translate>volumes.l_volume_name</span>
            </div>
            <div class="volume-settings-panel">
                <div class="volume-option form-group">
                    <input type="text" class="volume-name form-control" size="32" placeholder="Enter Volume Name" ng-model="volumeName">
                </div>
            </div>
        </section>
        
        <section>
            <connector-panel ng-model="dataConnector"></connector-panel>
        </section>
<!--
        <section>
            <tiering-panel ng-model="mediaPolicy"></tiering-policy-panel>
        </section>        
-->
        <section>
            <qos-panel ng-model="qos" save-only="true"></qos-panel>
        </section>
        <section>
            <protection-policy-panel ng-model="protectionPolicies" save-only="true"></protection-policy-panel>
        </section>
<!--
        <section>
            <snapshot-policy-panel ng-model="snapshotPolicies"></snapshot-policy-panel>
        </section>
-->

    </div>

    <div class="create-volume-button-panel" style="margin-top: 24px;margin-bottom: 42px;">
        <button class="btn btn-primary" style="display: inline-block;" ng-click="save()">
            <span ng-show="volumeVars.creating === true" translate>volumes.l_create_volume</span>
        </button>
        <button class="btn btn-secondary cancel-creation" style="display: inline-block;" ng-click="cancel()" translate>common.l_cancel</button>
    </div>
</div>
