description     "fdsactivate"

limit nofile 400000 400000
limit core unlimited unlimited
env LD_LIBRARY_PATH=/fds/lib:/usr/local/lib:/usr/lib/jvm/java-8-oracle/jre/lib/amd64 
env PATH=$PATH:/fds/bin 
chdir /fds/bin

exec fdscli --fds-root /fds/ --activate-nodes abc -k 1 -e am,sm,dm
