.time-spinner {
    
    border-radius: 5px;
    border: 1px solid $text_very_light_color;
    color: black;
    @include display-flex();
    padding: 2px;
    background-color: white;
    
    .no-border {
        border-width: 0px;
    }
    
    .colon {
        padding-right: 4px;
    }
}