<header class="popup">
  <a href='#' id="cancel_popup" class="button secondary">Cancel</a>
  <h1>Volume: <%= volume.get('name') %></h1>
  <a href='#' id="save_settings" class="button action">Save Settings</a>
</header>

