<div class="block_4 table">
  <table class="default volumes clickable">
    <thead>
      <th>Tenant</th>
      <th>Volume Name</th>
      <th>Avg. Daily Consumption</th>
      <th>Storage Usage Over Time</th>
      <th>Status & Alerts</th>
      <th class="center">Priority</th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
