<div ng-controller="debugController">
    <div class="header top-label">
        <span class="sub-header" style="margin-bottom: 16px;">Debug</span>
    </div>
    
    <button class="btn btn-primary skinny" ng-click="start()" ng-class="{ disabled : !isEnabled }">Start Profiling</button>
    <button class="btn btn-primary skinny" ng-click="stop()" ng-class="{ disabled : isEnabled }">Stop Profiling</button>

    <div style="margin: 12px;">
        <button-bar ng-model="durationChoice" buttons="durations" label="name" disabled="!isEnabled"></button-bar>
    </div>
    
    <div style="margin: 12px;">
        <fds-checkbox ng-model="syncRange" label="Synchronize chart ranges" style="color: black;"></fds-checkbox>
    </div>
    
    <div>
        <div style="margin: 12px;min-width: 450px;display: inline-block;" ng-repeat="thisData in chartData">
            <fui-dropdown selected="chartChoice[$index]" items="statChoices" class="skinny" style="padding-bottom: 12px" enabled="isEnabled"></fui-dropdown>
            <div class="flex">
                <fds-radio style="color: black;" ng-model="chartType[$index]" value="sum" label="Sum" enabled="isEnabled"></fds-radio>
                <fds-radio style="color: black;" ng-model="chartType[$index]" value="avg" label="Average" enabled="isEnabled"></fds-radio>
            </div>
            <div style="height: 250px;">
                <line-chart data="thisData" colors="colors" y-axis-label-function="amPutLabel" axis-color="#A0A0A0" line-colors="lineColors" domain-labels="timeLabels" background-color="#f7f7f7" line-type="monotype" range-maximum="minMaxes[$index].max">
    </line-chart>
            </div>
        </div>
    </div>

    <div style="height: 24px;"></div>
</div>