<div ng-controller="debugController">
    <div class="header top-label">
        <span class="sub-header" style="margin-bottom: 12px;">Debug</span>
    </div>
    
    <button class="btn btn-primary skinny" ng-click="start()">Start Profiling</button>
    <button class="btn btn-primary skinny" ng-click="getMessages()">Get Messages</button>
    
    <div>
        <line-chart data="listVolStats" colors="listVolColors" y-axis-label-function="listVolXLabels" axis-color="#A0A0A0" line-colors="listVolLineColors" domain-labels="listVolLabels" background-color="#f7f7f7"></line-chart>
    </div>
</div>