.time-spinner {
    
    border-radius: 5px;
    border: 1px solid $text_very_light_color;
    color: black;
    @include display-flex();
    padding: 2px;
    background-color: white;
    
    .no-border {
        border-width: 0px;
        border-radius: 0px;
        padding-right: 0px;
        padding-left: 3px;
    }
    
    .two-digit {
        width: 23px;
    }
    
    .four-digit {
        width: 40px;
    }
    
    .colon {
    }
}