Host fds-nat awo-bh-01*
    Hostname 54.148.73.71
    User deploy
    IdentityFile ~/.ssh/fds-deploy_rsa
    Port 55505
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no

Host !awo-bh-01* awo-* 10.3.*
    ProxyCommand ssh -F ssh.config -i ~/.ssh/fds-deploy_rsa -p 55505 deploy@54.148.73.71 -W %h:%p
    User deploy
    IdentityFile ~/.ssh/fds-deploy_rsa
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no

Host *
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
