.view-volume-screen{
    
    section {
        margin-bottom: 30px;
    }
    
    .gutter {
        
        width: 250px;
        padding: 12px;
        padding-top: 26px;
        position: relative;
    }
    
    .bottom-stack {
        position: absolute;
        bottom: 50px;
    }
    
    .legend-box {
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-style: solid;
        margin: 4px;
        
        &.dotted {
            border-style: dotted;
        }
    }
    
    .legend-data {
        margin-top: 4px;
        line-height: 1.2;
        color: $text_very_light_color;
    }
}

//.single_volume_widget {
//  height: 199px;
//  svg.chart {
//    width: 40px;
//    height: 163px;
//    float: left;
//  }
//  ul.levels {
//    list-style-type: none;
//    margin: 0 0 0 10px;
//    padding: 0;
//    width: 160px;
//    float: left;
//    position: relative;
//
//    li {
//      position: absolute;
//      width: 160px;
//    }
//    strong {
//      display: inline-block;
//      border: 1px solid $dark_border;
//      width: 3em;
//      padding: .4em 0;
//      font-weight: normal;
//      text-align: center;
//      background: #fff;
//      position: absolute;
//      top: 0px;
//      color: $text_link_color;
//    }
//
//    .limit { top: 5px; }
//    .sla { top: 70px; }
//    .priority {
//      top: 130px;
//      padding-left: 5px;
//      strong {
//        border-radius: 20px;
//        width: 30px;
//      }
//    }
//    .dots {
//      border-top: 1px dotted $gray_border;
//      margin-top: 15px;
//      width: 80px;
//    }
//
//    span {
//      position: absolute;
//      right: 0;
//      top: .5em;
//      padding-left: .5em;
//      width: 100px;
//      margin-left: 20px;
//      background: #fff;
//    }
//  }
//}
