.fds-mouseover {
    max-width: 75%;
    //background-color: rgba( 255, 255, 255, 0.9 ) !important;
    color: black;
    position: absolute;
    border-radius: 4px;
    padding: 4px;
    z-index: 1000;
    
    .tooltip-body {
        background-color: transparent;
    }
    
    .left-side {
        left: 8px;
    }
    
    .right-side {
        right: 8px;
    }
}